:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --accent-color: #2196F3;
    --title-color: #212121;
    --text-color: #757575;
    --secondary-color: #FFFFFF;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, 
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

li {
    list-style-type: none; /* Убираем маркеры */
}


.list {
    list-style: none;
}

.link {
    text-decoration: none;
}


body {
    font-family: var(--wain-font);
    font-weight: 400;
}


    /*----------- components ------------*/



.header {
    padding-top: 32px;
    padding-bottom: 32px;
} 

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header-container {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 92px;
  }
  
.title {
    font-family: Raleway;
    margin-left: 60px;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
      
.navigation {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-item:not(:last-child) {
    margin-right: 50px;
}

.banner {
    height: 80px;
    left: 0px;
    width: 1600px;
    top: 0px;

}


    /*---------------- header ------------------*/



.modal-btn {
    position: absolute;
    height: 50px;
    left: 700px;
    top: 430px;
    width: 200px;
    font-family: var(--main-font);
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 187% */ 
    display: flex;
    letter-spacing: 0.06em;  
    color: var(--secondary-color);
    background-color: #188CE8;
    border-radius: 5px;
    padding: 10px 0px 0px 30px;
  }
  
.modal-btn:hover,
.modal-btn:focus {
    background-color:var(--accent-color);
    color: var(--secondary-color);
  }

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.menu-link {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-family: var(--main-font);
    color: var(--title-color);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color)
}

.menu-link.current {
    color: var(--accent-color)
}


.mail-link {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-left: auto;
    margin-right: 45px;
}

.tel-link {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-right: -50px;
}

.tel-link:hover,
.tel-link:focus {
    color: var(--accent-color)
}

.mail-link:hover,
.mail-link:focus {
    color: var(--accent-color)
}

  /*------------------ end header -------------*/

  /*-------------- Banner -------------*/

.hero-title {
    position: absolute;
    width: 696px;
    left: 452px;
    height: 120px;
    top: 280px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */ 
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    /* color: #FFFFFF; */
}

/*-------------- End Banner -------------*/

  /*---------------- about ---------------*/


.about-us {
    display: inline-block;
    display: flex;
    align-items: center;
    margin-left: -30px;
    margin-top: -30px; 
    margin-bottom: 100px;
}

.about-us-details {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 30px; 
}

.container-about {
    position: absolute;
    width: 1170px;
    left: 215px;
    top: 774px;
    height: 101px;
}

.parts_description {
    margin-bottom: 20px;
    width: 270px;
    left: 215px;
    top: 774px;
    height: 16px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;  
    color: var(--title-color);
  }

.description {
    height: 75px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.714;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.first_block {
    display: inline-block;
    text-align: center;
    margin-left: 400px;
    font-family: var(--main-font);
    font-size: 36px;
    line-height: 1.27;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.second_block {
    margin-top: 90px;
    margin-left: 660px;
    margin-bottom: 60px;
    font-family: var(--main-font);
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.staff_name {
    font-style: normal;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.us-projects

.position {
    font-family: var(--main-font);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

/* end about */

/* services */

.us-services {
    display: flex;
    margin-left: -30px;
    height: 296px;
    margin-bottom: 90px;
    
}

.container-services {
    position: absolute;
    width: auto;
    left: 215px;
    top: 969px;
}

.services {
    margin-left: 30px;
    margin-top: 30px; 
    flex-basis: calc((100% - 90px) / 3);
}
/* end services */

/* our-team */

.our-team {
    display: flex;
    margin-left: 190px;
    margin-top: 30px; 
    height: 368px;
    left: 215px;
    top: 1642px;
    width: 1170px;
}

.our-team-us {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 30px; 
    box-shadow: none;

}

.container-our-team{
    position: absolute;
    height: 648px;
    left: 0px;
    top: 1445px;
    background-color: #F5F4FA;;
    width: 1600px;
}


/* and our-team */

/* footer */

.web-link {
    margin-left: -8px;
}

.footer-box {
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2093px;
    position: absolute;
}

.footer {
    margin-top: 60px;
    display: flex;

}

.footer-box-us{
    margin-bottom: 64px;
    margin-left: 215px;
}

.lower_menu {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: var(--text-color);     
}

.lower_menu:hover,
.lower_menu:focus {
    color: var(--secondary-color);
}


/* end footer */


            /* ============= PORTFOLIO ============== */

.section-portfolio {
    margin-left: 215px;
}

/* style buttons */

.buttons-nav {
    display: flex;
    padding-left: 270px;
}

/* .button-portfolio {
    margin-right: auto;
    height: auto;
} */

.portfolio_buttons_style{
    font-family: var(--main-font);
    margin-top: 94px;
    width: auto;
    padding: 12px 20px;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--title-color);
    font-style: normal;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.portfolio_buttons_style:hover,
.portfolio_buttons_style:focus {
    font-family: var(--main-font);
    font-weight: 500;
    /* identical to box height, or 162% */
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--secondary-color);
    background: var(--accent-color);
    
}

/* end style buttons */
.us-projects {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: -30px;
    margin-top: 50px; 
}

.projects {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px; 
}

.project-box {
    width: 370px;
    height: 404px;
    left: 215px;
    top: 262px;
    border-radius: black
    ;
}

.header_style {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
    color: var(--title-color);
    font-style: normal;
}

.description_style {
    font-family: var(--main-font);
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 187% */
    letter-spacing: 0.03em;
    color: var(--text-color);
    font-style: normal;
}

.footer-box-portfolio {
    position: absolute;
    height: 252px;
    left: 0px;
    top: 1628px;
    width: 1600px;
}

/* out style buttons */